<!-- Section Full -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center text-md-start">
                <h2 class="fw-bold">Drilling & Well Servicing</h2>
                <p class="lead">In the demanding realm of Drilling & Well Servicing, where deadlines are tight and quality is paramount, HRSM Offshore Services LLP thrives on delivering excellence.</p>
                <p>From holistic crew management solutions to tailored staffing for both immediate needs and long-term positions, we provide skilled professionals who excel under pressure and uphold uncompromising standards of quality and safety.</p>
                <p class="fw-bold">We offer a diverse range of skilled personnel, including:</p>
                <div class="mt-3">
                    <div class="row p-3">
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Drill Crew</li>
                                <li>Rig Manager</li>
                                <li>Offshore Installation Manager (OIM)</li>
                                <li>Toolpusher</li>
                                <li>Driller</li>
                                <li>Assistant Driller</li>
                                <li>Derrickman</li>
                                <li>Roughneck</li>
                                <li>Roustabout</li>
                                <li>Support</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Barge Captain/Barge Master</li>
                                <li>Crane Operator</li>
                                <li>Deck Foreman</li>
                                <li>Stores Person</li>
                                <li>Materials Coordinator</li>
                                <li>Doctor/Medic</li>
                                <li>Radio Operator</li>
                                <li>Painter</li>
                                <li>Maintenance</li>
                                <li>Rig Maintenance Supervisor (RMS)</li>
                            </ul>
                        </div>
                    </div>
                    <section class="contact-section m-1">
                        <div class="container">
                          <div class="row">
                            <div class="col text-center">
                              <h2>Contact Us</h2>
                              <p class="lead">Whether you're embarking on a new offshore venture or seeking reliable marine solutions for an existing project, HRSM is here to support you every step of the way. Contact us today to learn more about our services and how we can help you achieve your goals.</p>
                              <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../../../assets/industry-coponents/drilling/drilling.jpg" class="img-fluid" alt="drilling">
        </div>
    </div>
</div>
<!-- Section Full -->



<app-industry></app-industry>
