<header class="navbar navbar-expand-lg sticky-top"  id="header">
    <div class="container">
      <img src="../../assets/logo/logo.png" alt="HRS LOGO" class="img-fluid logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto ">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SERVICES
            </a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/contractrecruitment">Contract Recruitment</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/permanentrecruitment">Permanent Recruitment</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/travel&logistics">Travel & Logistics Management</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/training&competency">Competency Development Management</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/stramlinecoordinationmanagement">Streamlined Workforce Coordination</a></li>

<!-- 
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All Services</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/ourteam">TEAM</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">ABOUT</a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="aboutDropdown">
              <li><a href="#" class="dropdown-item" routerLink="/aboutus">About us</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="#" class="dropdown-item" routerLink="/qhsepolicy">QHSE Policy</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CAREER
            </a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/careers">Job</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/recruitmentalert">Recruitment/Candidate Alret</a></li>    
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              INDUSTRY
            </a>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/drilling">Drilling</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/marine">Marine</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/hookup">Hookups & Comissioning</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/catering">Catering</a></li>
              <li><hr class="dropdown-divider"></li>

              <!-- <li><a class="dropdown-item" href="#">Well Logging</a></li>
              <li><hr class="dropdown-divider"></li> -->

              <li><a class="dropdown-item" href="#" routerLink="/technicalsupport">Technical Support</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#" routerLink="/management">Management</a></li>

              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All Industry</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="contactus">CONTACT US</a>
          </li>
        </ul>
          <div class="navbar-text">
            <span class="me-2"><span><img src="../../assets/logo/telephone copy.png" class="img-fluid" alt="call logo"></span> +91 8452033888 </span>
          </div>
      </div>
    </div>
  </header>



  
<!-- this is slider component below header -->
<!-- <app-slider-home></app-slider-home> -->

 
  
