 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>HRSM Offshore Services LLP</h3>
            <p>
              A6 - 206 Shruti Gardens CHS.Thane <br>
              Mumbai, 400607<br>
              India <br><br>
              <strong>Phone:</strong> +91 8452033888<br>
              <strong>Email:</strong> sujitrajan72@gmail.com <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"  class="nav-link" routerLink="/permanentrecruitment">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"  class="nav-link" routerLink="/contactus">Support</a></li>

              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/contractrecruitment">Contractual Recruitment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/permanentrecruitment">Permanent Recruitment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/travel&logistics">Travel & Logistics Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/training&competency">Developemnt</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="nav-link" routerLink="/stramlinecoordinationmanagement">Workflow Coordinaation</a></li>

              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <!-- <h4>Join Our Newsletter</h4> -->
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>HRSM Offshore Services LLP</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <a href="" style="text-decoration: none;color: brown;" >Designed by</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <p>Get Latest Update From HRSM Offshore Services LLP</p>
        <a class="twitter"><i class="bi bi-twitter"></i></a>
        <a class="facebook"><i class="bi bi-facebook"></i></a>
        <a class="instagram"><i class="bi bi-instagram"></i></a>
        <a class="google-plus"><i class="bi bi-skype"></i></a>
        <a class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->