    <section class="about section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-5">OUR <span></span> INDUSTRY</h2>
                </div>

                <div class="col-lg-2 col-12 mt-auto mb-auto">
                    <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                        <li class="nav-item active" role="presentation"   id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                            <button class="nav-link">Drilling</button>
                        </li>
                        <li class="nav-item" role="presentation" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">
                            <button class="nav-link" >Marine</button>
                        </li>
                        <li class="nav-item" role="presentation" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">
                            <button class="nav-link">Hookup,Commissionings</button>
                        </li>

                        <!--  -->

                        <li class="nav-item" role="presentation" id="pills-contruction-tab" data-bs-toggle="pill" data-bs-target="#pills-contruction" type="button" role="tab" aria-controls="pills-contruction" aria-selected="false">
                            <button class="nav-link">Construction</button>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-10 col-12">
                    <div class="tab-content mt-2" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" asria-labelledby="pills-home-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <img src="../../assets/industry/11.jpg" class="img-fluid" alt="Drilling image offshore">
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Drilling</h4>

                                        <p>Drilling in offshore locations refers to the process of extracting oil or natural gas from beneath the seabed. It involves drilling wells through the ocean floor to access hydrocarbon reservoirs beneath the seabed. Offshore drilling is a complex operation that requires specialized equipment, technology, and expertise due to the challenging environment of the ocean.</p>

                                        <div class="mt-2 mt-lg-auto" >
                                            <a href="about.html" class="custom-link mb-2 LearnMore" routerLink="/drilling">
                                                Learn more
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="ratio ratio-16x9">
                                        <img src="../../assets/industry/12.png" class="img-fluid" alt="Marine img offshore">
  
                                    </div>
                                </div>
                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Marine</h4>

                                        <p>
                                            "Offshore marine" typically refers to activities, resources, or structures that pertain to marine environments away from the coast or shoreline. This term encompasses various aspects of human interaction with marine ecosystems beyond coastal boundaries. Here are some key aspects of offshore marine activities</p>

                                        <div class="mt-2 mt-lg-auto">
                                            <a href="contact.html" class="custom-link mb-2 LearnMore" routerLink="/marine">
                                                Learn More
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="ratio ratio-16x9">
                                        <img src="../../assets/industry/13.jpg" class="img-fluid" alt="Hooks marine img offshore">
                                    </div>
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Hookup & ommissioning</h4>

                                        <p>
                                            Offshore Hookup, Commissioning, and Maintenance (HUC&M) represent interconnected phases in the lifecycle of offshore oil and gas projects, ensuring the successful deployment, functionality, and ongoing operation of offshore facilities.</p>

                                        

                                        <div class="mt-2 mt-lg-auto">
                                            <a href="contact.html" class="custom-link mb-2 LearnMore" routerLink="/hookup">
                                                Learn More
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-contruction" role="tabpanel" aria-labelledby="pills-contruction-tab">

                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="ratio ratio-16x9">
                                        <img src="../../assets/industry/14.jpg" class="img-fluid" alt="Hooks marine img offshore">
                                    </div>
                                </div>

                                <div class="col-lg-5 col-12">
                                    <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                        <h4 class="mb-3">Construction</h4>

                                        <p>
                                            Offshore construction involves the building of structures and installations in marine environments away from the shore. It encompasses a wide range of activities and projects essential for offshore oil and gas exploration, renewable energy generation, marine transportation, and coastal protection.
                                        </p>

                                        <div class="mt-2 mt-lg-auto">
                                            <!-- <a href="contact.html" class="custom-link mb-2 LearnMore">
                                                Learn More
                                                <i class="bi-arrow-right ms-2"></i>
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


