



<div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about everything!</h3>
              <p>Let's dive into the details together! Ready to explore?</p>

              <p><img src="../../assets/contact-form/undraw-contact.svg" loading="lazy" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5" (ngSubmit)="submitNow($event)" id="contactForm" name="contactForm" [formGroup]="contactForm">
                <input type="hidden" name="access_key" value="d322abb5-52c7-4f49-9e95-9f735cc39ddb">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name" formControlName="Name" required>
                    <div *ngIf="getControllers('Name')?.errors && getControllers('Name')?.touched">
                        <small *ngIf="getControllers('Name')?.errors?.['required']" class="text-danger">Name is required</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" formControlName="Email" required>
                    <div *ngIf="getControllers('Email')?.errors && getControllers('Email')?.touched">
                        <small *ngIf="getControllers('Email')?.errors?.['required']" class="text-danger">Email is required</small>
                        <small *ngIf="getControllers('Email')?.errors?.['pattern']" class="text-danger">Your email is invalid</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"  formControlName="Message" required></textarea>
                    <div *ngIf="getControllers('Message')?.errors && getControllers('Message')?.touched">
                        <small *ngIf="getControllers('Message')?.errors?.['required']" class="text-danger">Please Enter Your Message</small>
                    </div>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <button type="submit" value="Send Message" [disabled]="contactForm.status === 'INVALID'" class="btn btn-primary rounded-0 py-2 px-4">Send message</button>
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>
              
              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    


 

   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact section-bg">
    <div class="container">

      <!-- <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div> -->

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>A6 - 206 Shruti Gardens CHS,Mumbai,India, 400607</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>sujitrajan72@gmail.com<br></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p> +91 8452033888<br></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.03900799053!2d72.88118615!3d19.082250749999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1714329347745!5m2!1sen!2sin" class="map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->





<!-- map -->
<!-- <app-map></app-map> -->