<!-- About us  -->
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <!-- <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp4.svg"> -->
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source src="../../assets/about-us/First_Presented.mp4" type="video/mp4">
      </video>
      <div class="purpleBox">
        <p class="purpleText">
          Offshore work involves operating and maintaining these rigs, often in challenging marine environments, to extract oil and gas resources vital for energy production worldwide.
        </p>
        <!-- <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg"> -->
      </div>
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        About us
      </p>
      <p class="text-blk subHeadingText">
        Committed to Excellence from the Start.
      </p>
      <p class="text-blk description">
        Established in 2024 by seasoned professionals with a wealth of industry experience, our company is guided by the principle of doing things right the first time. <br><br> Committed to understanding and fulfilling our clients' needs, our management team is readily available to provide timely, thoughtful, and effective solutions. With a proven track record of delivering complex projects worldwide, we bring expertise and reliability to every endeavor.
      </p>
      <a class="explore" (click)="onClick('AnchorId')">
        View Services
      </a>
    </div>
  </div>
</div>
<!-- About us  -->




<!-- 
=================================
  more abpout us
==============================
 -->

 <section class="professional-section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <img src="../../assets/about-us/PeopleArePurpose.jpg" alt="Image Description" class="animated zoomIn">
      </div>

      <div class="col-md-6">
        <div id="HRSM-text">
          <div class="text-content">
            <h2>HRSM Offshore Services LLP : Empowering People, Energizing Futures.</h2>
            <p>
              At HRSM, we believe in the power of people. As recruitment consultants in the offshore industry, we're dedicated to fostering equality and diversity through every partnership we form. Whether you're a candidate seeking opportunities, a client in need of talent, or an employee looking to thrive, when you join HRSM, you become part of our vibrant community.
              <br><br>
              Our focus extends across the Renewables, Oil and Gas, Marine, and Construction sectors. We're not just matching talent with projects; we're fueling a sustainable energy sector by connecting the right individuals with the right companies.
              <br><br>
              But our commitment doesn't end there. HRSM offers a comprehensive range of services to candidates and clients worldwide. With a global presence spanning every continent, we provide in-country support, enhancing the lives of our candidates and empowering our clients to achieve their objectives on major projects worldwide.

              Join HRSM today and let's build a brighter future together
            </p>
            <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!-- 
==================
Vision & Value
==========

 -->
 <section class="professional-section">
  <div class="container">
    <div class="row align-items-start">

      <div class="col-md-6">
        <div id="HRSM-text">
          <div class="text-content">
            <h2>Our Mission:</h2>
            <p>We are committed to delivering exceptional service to clients in the global offshore industry while fostering a workplace culture that attracts and retains top talent.</p>
            <h3>Our Vision:</h3>
            <p>To be the industry leader in providing innovative offshore solutions, setting the standard for excellence and client satisfaction.</p>
            <h3>Our Objectives:</h3>
            <ul>
              <li>To establish HRSM Offshore Services LLP as the foremost operator of high-caliber offshore assets, celebrated for their excellence and dependability.</li>
              <li>To deliver state-of-the-art, versatile assets that cater to the diverse requirements of our clientele.</li>
              <li>To nurture a culture of responsiveness, ensuring that we meet the needs of our clients at every level.</li>
              <li>To cultivate a fair and rewarding work environment that recognizes and incentivizes performance.</li>
              <li>To integrate our fundamental values into the fabric of our organization.</li>
              <li>To foster sustainable practices that prioritize environmental stewardship and social responsibility.</li>
              <li>To continuously innovate and adapt to emerging trends and technologies in the offshore industry.</li>
            </ul>
            <h3>Our Core Principles:</h3>
            <ul>
              <li><strong>Ethical Standards:</strong> At HRSM Offshore Services LLP, upholding ethical standards is the foundation of everything we do. We adhere to the highest standards of ethical behavior, always striving to do what is right. In instances of error, we take ownership and make amends.</li>
              <li><strong>Excellence:</strong> Excellence at HRSM Offshore Services LLP entails continuous skill development, personal accountability for outcomes, and a steadfast commitment to delivering superior results, all while safeguarding the reputation of our organization.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <div class="text-content">
            <h2>Our Value Proposition:</h2>
            <p>HRSM Offshore Services LLP offers unmatched expertise and reliability in delivering tailored offshore solutions to meet the unique needs of our clients. With a focus on innovation, efficiency, and customer satisfaction, we strive to exceed expectations and drive success in every project we undertake.</p>
            <p>Key elements of our value proposition include:</p>
            <ul>
              <li>Customized solutions designed to optimize performance and minimize operational costs.</li>
              <li>A commitment to safety and environmental sustainability in all aspects of our operations.</li>
              <li>Responsive and client-centric approach, ensuring timely and effective communication throughout the project lifecycle.</li>
              <li>A track record of excellence and proven expertise in delivering complex offshore projects on time and within budget.</li>
              <li>Collaborative partnerships with clients, suppliers, and stakeholders to achieve mutual success and long-term value creation.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- 
==================
end Vision & Value
==========

 -->



<!-- 
=================================
  more abpout us end
==============================
 -->


<!-- 
  ========================
  our services component
  =========================
 -->

 <app-our-services id="AnchorId"></app-our-services>
 
<!-- 
  ========================
  our services component end
  =========================
 -->


 <!-- 
  ===================
industry
  ===================
  -->

<app-industry></app-industry>
   <!-- 
  ===================
  industry end
  ===================
  -->





 <!-- Contact Section -->

<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Contact Us</h2>
        <p class="lead">Whether you're embarking on a new offshore venture or seeking reliable marine solutions for an existing project, HRSM is here to support you every step of the way. Contact us today to learn more about our services and how we can help you achieve your goals.</p>
        <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section End -->

