<!-- Carousel Start -->
<div class="container col-md-10 p-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="../../../assets/industry-coponents/hookups/hookupc.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Hookup & Maintenance</h1>
                        <h5 class="text-white text-uppercase animated bounceInDown">Offshore Hookup, Commissioning, and Maintenance (HUC&M) represent interconnected phases in the lifecycle of offshore oil and gas projects, ensuring the successful deployment, functionality, and ongoing operation of offshore facilities.</h5>

                        <!-- <a href="" routerLink="/contactus" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a> -->
                        <!-- <a href="" routerLink="/careers" class="btn btn-secondary py-md-3 px-md-5 ms-3 animated slideInRight resume">Submit resume</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->





<!-- Section Full -->
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="../../../assets/industry-coponents/hookups/hookup1.jpg" class="img-fluid" alt="Marine sector image">

           
        </div>

        <div class="col-md-6">
            <div class="text-center text-md-start">
                <h2 class="fw-bold">Hookup, Commissioning & Maintenance</h2>
                <p class="lead">In the intricate realm of Hookup & Commissioning, where precision and adaptability are paramount, HRSM Offshore Services LLP is at the forefront of delivering unparalleled solutions.</p>
                <p>We leverage a comprehensive global network and a meticulously curated database to cater to the unique demands of some of the industry's most prominent projects, ensuring exceptional outcomes that set new standards.</p>
                <p class="fw-bold">Our skilled workforce encompasses:</p>
                <div class="mt-3">
                    <div class="row p-3">
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Structural Fitter</li>
                                <li>Structural Welder</li>
                                <li>Mechanical Fitter</li>
                                <li>Pipe Fitter</li>
                                <li>Pipe Welder</li>
                                <li>Electrician</li>
                                <li>Instrument Fitter</li>
                                <li>Painter</li>
                                <li>Piping Foreman</li>
                                <li>Scaffolding Foreman</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>I&C Foreman</li>
                                <li>Structural Foreman</li>
                                <li>Welding Foreman</li>
                                <li>QA/QC Inspector</li>
                                <li>Materials Handling</li>
                                <li>Scaffolder</li>
                                <li>Maintenance Technician</li>
                                <li>Chief Mechanic</li>
                                <li>Chief Electrician</li>
                                <li>Hydraulic Technician</li>
                            </ul>
                        </div>
                    </div>
                    <section class="contact-section m-1">
                        <div class="container">
                          <div class="row">
                            <div class="col text-center">
                              <h2>Contact Us</h2>
                              <p class="lead">Embarking on a new offshore venture or seeking reliable marine solutions for an existing project? HRSM stands ready to support your journey. Reach out today to explore our services and propel your project towards success.</p>
                              <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

     
    </div>
</div>


<!-- Section Full -->




<app-industry></app-industry>