.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #120f2d80;
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}