<!-- Section Full -->
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="../../../assets/home1/image1.png" class="img-fluid" alt="Marine sector image">
            <img src="../../../assets/industry-coponents/management/management-3.jpg" class="img-fluid" alt="Marine sector image">
            
        </div>

        <div class="col-md-6">
            <div class="text-center text-md-start">
                <h2 class="fw-bold">Management</h2>
                <p class="lead">HRSM Offshore Services LLP provides extensive solutions tailored for offshore facility management. Our seasoned professionals demonstrate expertise in maintaining, repairing, and managing facilities, prioritizing safety, sustainability, and social responsibility. Our diverse team encompasses skilled specialists such as maintenance technicians, electricians, HVAC technicians, plumbers, landscapers, janitors, security guards, and fire safety officers.

                  </p>
                  <p class="lead"> Our services encompass routine maintenance, inventory management, compliance with safety and environmental regulations, and emergency response. At HRSM Offshore Services LLP, we are dedicated to fostering a safe working environment for both our employees and clients, strictly adhering to local HSE regulations in every location we operate.</p>
            
                <p class="fw-bold">Our skilled personnel pool includes:</p>
                <div class="mt-3">
                    <div class="row p-3">
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Plumber</li>
                                <li>Carpenter</li>
                                <li>Groundskeeper</li>
                                <li>Landscaper</li>
                                <li>Housekeeper</li>
                                <li>Janitor</li>
                                <li>Security Guard</li>
                                <li>IT Specialist</li>
                                <li>Environmental Health and Safety Officer</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Facility Manager</li>
                                <li>Assistant Facility Manager</li>
                                <li>Maintenance Manager</li>
                                <li>Operations Manager</li>
                                <li>Building Engineer</li>
                                <li>Electrician</li>
                                <li>HVAC Technician</li>
                                <li>Move Coordinator</li>
                                <li>Sustainability Manager</li>
                            </ul>
                        </div>
                    </div>
                    <section class="contact-section m-1">
                        <div class="container">
                          <div class="row">
                            <div class="col text-center">
                              <h2>Contact Us</h2>
                              <p class="lead">Whether you're embarking on a new offshore venture or seeking reliable marine solutions for an existing project, HRSM is here to support you every step of the way. Contact us today to learn more about our services and how we can help you achieve your goals.</p>
                              <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

     
    </div>
</div>
<!-- Section Full -->




<app-industry></app-industry>