
   <!-- about -->
   <div id="about" class="about">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-7">
    <!-- About Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="row g-6" style="overflow: hidden;">
                <div class="col-lg-12 pt-0" style="min-height: 500px;">
                    <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                        <img class="position-absolute img-fluid w-100 h-100" src="../../assets/home1/aboutus.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                        <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="../../assets/home1/imag2.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
          </div>
          <div class="col-md-4">
             <div class="titlepage">
                <h2>About <span class="blu">us</span></h2>
                <p>HRSM offers premier human resources and recruitment solutions tailored specifically to the energy industry. With a proven track record serving major projects and industry giants, we excel in delivering top-tier recruitment, selection, and crewing services.,</p>
                <a class="read_more" routerLink="/aboutus">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end about -->

 


<div class="container" id="contentContainer">
    <div class="row smooth">
        <div class="col-md-6 d-flex align-items-center">
            <div class="content p-3" id="textContent1">
                <h1 class="orange-text">Experience that Matters</h1>
                <p class="black-text">
                    <span class="blue-text">Navigating the Depths</span>
                    <br>
                    At HRSM, we are drawn to the depths of the ocean, where challenges are as deep as our passion for innovation. Specializing in offshore drilling and marine solutions, we thrive in the dynamic realm of deep waters.
                    <br>
                    <br>
                    <span class="blue-text">Mastering the Seas</span>
                    <br>
                    Our expertise extends beyond the surface, delving into the intricate ecosystems of the ocean. With a focus on floating production and mooring systems, we engineer structures that stand resilient against the mightiest of waves and currents.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/home1/image1.png" alt="Image" class="img-fluid hover-img">
        </div>
    </div>
    <div class="row smooth">
        <div class="col-md-6">
            <img src="../../assets/home1/imag2.jpg" alt="Image" class="img-fluid hover-img mb-5">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="content2 p-3" id="textContent2">
                <h1 class="orange-text">Leading the Way in Responsible Practices</h1>
                <p class="black-text">As leaders in the offshore marine and drilling industry, we understand the importance of setting the standard for sustainable practices. Our dedication to environmental stewardship drives us to innovate and implement solutions that minimize our ecological footprint while maximizing efficiency.</p>
            </div>
        </div>
    </div>
    <div class="row smooth">
        <div class="col-md-6 d-flex align-items-center">
            <div class="content p-3" id="textContent3">
                <h1 class="orange-text">Investing in People, Building a Sustainable Future</h1>
                <p class="black-text">Central to our mission is the belief that our people are our greatest asset. We prioritize hiring top talent and providing them with comprehensive training and development opportunities. By investing in our workforce, we ensure a sustainable future for both our company and the communities we serve.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/home1/image3.png" alt="Image" class="img-fluid hover-img">
        </div>
    </div>
</div>



