
<div class="container-fluid delayed-animation" #triggerElement>
    <h1 class="text-center mt-5 display-3 fw-bold">Our <span class="theme-text">Services</span></h1>
    <hr class="mx-auto mb-5 w-25">
    <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../../assets/our-services/Contract-Recuitment.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Contract <br/> Recruitment</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Our Contract Recruitment service provides efficient and reliable solutions for your staffing needs. Whether you require temporary staff for short-term projects or seasonal demands, we have the expertise to fulfill your requirements.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../../assets/our-services/Permanent-Recruiter.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Permanent <br/> Recruitment</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Our Permanent Recruitment service offers tailored solutions for securing long-term talent to meet your organization's needs. Our dedicated team specializes in identifying, assessing, and attracting top-tier candidates who align with your company culture and strategic objectives.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../../assets/our-services/Travel-Logistics.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Travel & Logistics  <br/> Management</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Our Travel & Logistics Management service offers comprehensive solutions to optimize your organization's travel arrangements and logistical operations. From coordinating transportation and accommodation to managing supply chain logistics.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../../assets/our-services/Streamlined Workforce.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Streamlined Workforce  <br/> Coordination</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Our Streamlined Workforce Coordination service offers efficient and effective management of personnel resources to optimize productivity and performance. Through streamlined processes and clear communication channels, we ensure that tasks and responsibilities are allocated effectively, maximizing the utilization of available workforce capacity. 
                    </p>
                </div>
            </div>
        </div>

        
        <div class="col-12 col-sm-6 col-md-4 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="../../assets/our-services/Competency Development.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Competency Development  <br/> Management</h3>
                    <hr class="mx-auto w-75">
                    <p>
                        Our Competency Development Management service provides strategic guidance and support to enhance the knowledge, skills, and abilities of your workforce. Through comprehensive assessment, training, and development programs, we empower your employees to excel in their roles and contribute to the overall success of your organization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


