<section class="section section-work-data">
    <div class="container grid grid-four-column">
      <div>
        <h2 class="counter-numbers" #projectCounter>0</h2><h4>+</h4>
        <p>Recruitment Completed</p>
      </div>
  
      <div>
        <h2 class="counter-numbers" #clientsCounter>0</h2><h4>+</h4>
        <p>Happy Clients</p>
      </div> 
  
      <div>
        <h2 class="counter-numbers" #interactionCounter>0</h2><h4>+</h4>
        <p>Customer Interaction</p>
      </div> 
      
      <div>
        <h2 class="counter-numbers" #resourcesCounter>0</h2><h4>+</h4>
        <p>Resources</p>
      </div>
    </div>
  </section>
  

<!-- 
    ================
    Our Services Component
    ================
 -->
 
  <app-home2-services></app-home2-services>

  <!-- 
    ================
    Our Services Component End
    ================
 -->