<!-- Section Full -->
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="../../../assets/industry-coponents/marine/marine.jpg" class="img-fluid" alt="Marine sector image">
        </div>

        <div class="col-md-6">
            <div class="text-center text-md-start">
                <h2 class="fw-bold">Marine Industry Solutions</h2>
                <p class="lead">The marine sector is vast, demanding, and multifaceted.</p>
                <p>HRSM Offshore Services LLP addresses the unique challenges of the marine industry by offering a comprehensive range of HR solutions tailored to highly skilled marine crews in the offshore oil and gas sector. We provide adaptable personnel support and forge strong partnerships with leading EPCI and drilling firms worldwide, ensuring the perfect fit for every position.</p>
            
                <p class="fw-bold">Our skilled personnel pool includes:</p>
                <div class="mt-3">
                    <div class="row p-3">
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Bridge Crew</li>
                                <li>Master/SDPO</li>
                                <li>Chief Officer/DPO</li>
                                <li>1st Officer/DPO</li>
                                <li>2nd Officer/DPO</li>
                                <li>Radio Operator</li>
                                <li>Deck Crew</li>
                                <li>Bosun/Chief IR</li>
                                <li>Crane Operator</li>
                                <li>AB/IR/Deckhand</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-styled align-items-start">
                                <li>Engine Room Personnel</li>
                                <li>Chief Engineer</li>
                                <li>Chief Electrician</li>
                                <li>ETO (Electro-Technical Officer)</li>
                                <li>1st Engineer</li>
                                <li>2nd Engineer</li>
                                <li>3rd Engineer</li>
                                <li>Motorman/Oiler</li>
                            </ul>
                        </div>
                    </div>
                    <section class="contact-section m-1">
                        <div class="container">
                          <div class="row">
                            <div class="col text-center">
                              <h2>Contact Us</h2>
                              <p class="lead">Whether you're embarking on a new offshore venture or seeking reliable marine solutions for an existing project, HRSM is here to support you every step of the way. Contact us today to learn more about our services and how we can help you achieve your goals.</p>
                              <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

     
    </div>
</div>
<!-- Section Full -->




<app-industry></app-industry>