<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="../../../assets/services/contract -recritmen/contract-recruitment-1.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase animated bounceInDown">HRSM Offshore Services LLP</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Contract Based Recruitment</h1>
                        <a  (click)="onClick('about')" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                        <a href="" routerLink="/contactus" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                        <a href="" routerLink="/careers" class="btn btn-secondary py-md-3 px-md-5 ms-3 animated slideInRight resume">Submit resume</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="../../../assets/services/permanent-r/c1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase animated bounceInDown">HRSM Offshore Services LLP</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Contract Recruitment</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                        <a href="" routerLink="/contactus" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                        <a href="" routerLink="/careers" class="btn btn-secondary py-md-3 px-md-5 ms-3 animated slideInRight resume">Submit resume</a>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#header-carousel"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#header-carousel"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-start">
                <div class="section-heading mt-5">
                    <h4>About What We Do &amp; Contract Recruitment</h4>
                    <p>
                        Our contract recruitment services offer streamlined solutions for your staffing needs. We specialize in sourcing highly-skilled professionals for short to medium-term positions, ensuring flexibility and efficiency in your workforce.
                        <br>
                        <br>
                        With a focus on quick turnaround times and tailored candidate selection, we provide the right talent precisely when you need it. Trust us to handle the recruitment process, so you can focus on what matters most – driving your business forward.

                    </p>
                </div>
                <div class="col-lg-12 imgCol">
                    <img src="https://img.freepik.com/premium-vector/outsourcing-outplacement-offshore-software-development-freelance-job-recruitment-company-agreement_566886-2254.jpg" class="img-fluid" alt="travel and logistics image">
                </div>
              
            </div>
            <div class="col-lg-6 p-0 m-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>
                                <a class="text-anchor">Extensive Candidate Reach:</a>
                            </h4>
                            <p> Accessing a diverse and extensive pool of talent, both locally and internationally, is crucial for successful contract recruitment. We maintain a vast network of highly-specialized professionals, enabling us to source top-tier candidates who possess the skills and experience necessary to excel in their roles.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>
                                <a class="text-anchor">Continuous Support and Feedback:</a>
                            </h4>
                            <p> Dedicated Partnership: We provide ongoing support throughout the recruitment process, offering guidance and feedback to ensure a seamless experience.
                                Transparent Communication: Our commitment to open communication fosters trust and collaboration, enhancing the overall recruitment journey for both clients and candidates
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>
                                <a  class="text-anchor">Efficient Talent Acquisition:</a>
                            </h4>
                            <p> Proactive Networking: Leveraging our extensive network, we efficiently identify and engage with top-tier professionals, minimizing time-to-hire.
                                Targeted Recruitment: Our focused approach targets candidates with the specific skills and experience required for success in your organization.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>
                                <a  class="text-anchor">Comprehensive Candidate Evaluation</a>
                            </h4>
                            <p> Rigorous Assessment: We employ a meticulous screening process, evaluating candidates based on both technical proficiency and cultural fit.
                                Holistic Approach: Our thorough evaluation ensures that only the most qualified individuals who align with your organization's values are presented for consideration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Home 2 services -->
<!-- <app-home2-services></app-home2-services> -->


<!-- Contact us component -->   
<app-resume-upload></app-resume-upload>
