<div class="container" id="container">
    <h1 class="section-title" id="textContent" #textContent>OUR SERVICES</h1>
    <h2 class="section-title">What We Provide You</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="service-description" id="textContent1" #textContent1>
          <h3>Contract Recruitment</h3>
          <p>Our Contract Recruitment Services respond to your changing needs by providing specialist personnel on a temporary or project basis.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-description" id="textContent2" #textContent2 >
          <h3>Permanent Recruitment</h3>
          <p>Access our vast database of international talent to find the most suitable highly specialised candidates for long-term roles.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service-description" id="textContent3" #textContent3 >
          <h3>Payroll Services</h3>
          <p>Seamless payroll and accounting solutions built on top-tier technology, and managed by an experienced, international in-house payroll team.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-description" id="textContent4" #textContent4 >
          <h3>Integrated Crew Management</h3>
          <p>Fully integrated turn-key solutions handling end-to-end crew management to lower your costs and increase your operational efficiency.</p>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-md-6">
          <div class="service-description" id="textContent5" #textContent5 >
            <h3>Competency Development Management</h3>
            <p>At HRSM, we understand the critical importance of having highly skilled and competent personnel in the offshore industry. Our Competency Development Management service is designed to ensure that your workforce is equipped with the necessary skills, knowledge, and capabilities.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-description" id="textContent6" #textContent6 >
            <h3>Streamlined Workforce Coordination</h3>
            <p>At HRSM, we understand the complexities of coordinating a workforce in the offshore industry. Our Streamlined Workforce Coordination service is designed to optimize the allocation of resources, streamline communication, and enhance collaboration among your offshore team members.</p>
          </div>
        </div>
      </div>
  </div>
  