<!-- Carousel Start -->
<div class="container col-md-10 p-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="https://assets-global.website-files.com/65b42834bde2a9b918c54a93/65b42834bde2a9b918c55169_Insight-Trading-2%402x.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase animated bounceInDown"></h5>

                        <!-- <a href="" routerLink="/contactus" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a> -->
                        <!-- <a href="" routerLink="/careers" class="btn btn-secondary py-md-3 px-md-5 ms-3 animated slideInRight resume">Submit resume</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->





<!-- Section Full -->
<div class="container">
    <div class="row">
<!-- 
        <div class="col-md-6">
            <img src="../../../assets/industry-coponents/hookups/hookup1.jpg" class="img-fluid" alt="Marine sector image">
           
        </div> -->

        <div class="col-md-11">
            <div class="text-center text-md-start">
                <h1 class="display-1 text-dark mb-md-4 animated zoomIn" style="font-weight:bolder;">Technical Support</h1>

                <p class="lead">HRSM is a premier provider of IT services and solutions, dedicated to helping businesses achieve their digital transformation objectives. Leveraging years of industry experience, we specialize in delivering innovative technology solutions that boost productivity, streamline operations, and enhance customer experiences.</p>
            </div>
        </div>

     
    </div>
</div>


<!-- Section Full -->




<app-industry></app-industry>