<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">
        <!-- <div class="section-title">
            <h2>OUR Team</h2>
            <div class="underline"></div>
            <p>Our team comprises dedicated professionals committed to excellence in the offshore industry. With a diverse range of expertise and experience, we are united in our mission to deliver exceptional services and solutions to our clients. Through collaboration, innovation, and a shared passion for success, we strive to overcome challenges and achieve outstanding results. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ducimus.</p>
        </div> -->

        <div class="section-title">
            <div class="background-image"></div>
            <div class="content">
                <h2>OUR Team</h2>
                <div class="underline"></div>
                <p>Our team comprises dedicated professionals committed to excellence in the offshore industry. With a diverse range of expertise and experience, we are united in our mission to deliver exceptional services and solutions to our clients. Through collaboration, innovation, and a shared passion for success, we strive to overcome challenges and achieve outstanding results.</p>
            </div>
        </div>
        
        <div class="row shadow-hover mt-5">
            <div class="col-lg-12">
                <div class="member d-flex align-items-start">
                    <div class="teampic">
                        <img src="../../assets/Team/SujitRajan.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info m-auto">
                        <h4>Sujit Rajan</h4>
                        <span>Founder and Director</span>
                        <p>Sujit Rajan Founder and Director of HRSM Offshore Services LLP. An HR Expert in Offshore and Onshore Industry. Prior to Joining HRS Offshore he has more than 10 years of working experience in Transocean, Greatship India Ltd, Aban Offshore, Foresight Drilling, Weatherford, Essar Oil and Gas, Shelf Drilling, Universal Energy, he has vast experience in HR policies, handling the crew, logistic support, entry and exit, visa, ticketing, OGUK Medical.</p>
                        <div class="social">

                            <a href="">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://wa.me/918452033888">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!-- <div class="row mt-5 shadow-hover">

                <div class="col-lg-12">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../../assets/Team/HiteshK.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info m-auto">
                            <h4>Mr. Hitesh Lad</h4>
                            <span>Co-founder</span>
                            <p>Mr. Hitesh Lad Co-founder of HRSM Offshore Services LLP.he has over 30 years of experience working in various roles within the Courier and Cargo logistics, Airlines and supply chain industry.He started his career in a logistics company, where he gained hands-on experience in managing inventory, transportation, and warehouse operations. Later, he transitioned to the Airline industry, where he worked in operations and logistics planning, optimizing routes, and managing cargo shipments and has in-depth knowledge of airline cargo operations, including aircraft loading configurations, cargo security protocols, and compliance with aviation regulations such as IATA's Dangerous Goods Regulations (DGR).</p>
                            <div class="social">
                               
                                <a href="">
                                   <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row mt-5 shadow-hover">
                <div class="col-lg-12">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../../assets/Team/HiteshK.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info m-auto">
                            <h4>Mr. Hitesh Lad</h4>
                            <span>Co-founder</span>
                            <p>Mr. Hitesh Lad Co-founder of HRSM Offshore Services LLP.he has over 30 years of experience working in various roles within the Courier and Cargo logistics, Airlines and supply chain industry.He started his career in a logistics company, where he gained hands-on experience in managing inventory, transportation, and warehouse operations. Later, he transitioned to the Airline industry, where he worked in operations and logistics planning, optimizing routes, and managing cargo shipments and has in-depth knowledge of airline cargo operations, including aircraft loading configurations, cargo security protocols, and compliance with aviation regulations such as IATA's Dangerous Goods Regulations (DGR).</p>
                            <p><strong>Skills:</strong></p>
                            <ul>
                                <li>Courier Services</li>
                                <li>Cargo Logistics</li>
                                <li>Airline Cargo Operations</li>
                                <li>Supply Chain Management</li>
                                <li>Leadership and Team Management</li>
                            </ul>
                            <p><strong>Interests:</strong></p>
                            <p>Mr. Hitesh is passionate about staying abreast of industry trends and emerging technologies in logistics, transportation, and supply chain management. He actively participates in industry conferences, forums, and professional networking events.</p>
                            <div class="social">
                                <a href="">
                                   <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="https://wa.me/918452033888">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    
</section>



<!-- End Team Section -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
