<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            <h1 class="title text-danger">Recruiting Scam <br> Alert</h1>
        </div>

        <div class="col-lg-6">
            <h4>HRSM Offshore Services LLP's Alert: Beware of Employment Scams</h4>
            <p>
                At HRSM Offshore Services LLP, safeguarding our reputation and the well-being of our applicants is paramount. Unfortunately, we've become aware of fraudulent activities where individuals misuse our name, branding, and even create deceptive websites to lure unsuspecting job seekers into scams. Despite their professional appearance, these schemes are entirely illegitimate and hold no affiliation with our company.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
           
            <h2 class="section-title text-primary">How We Operate:</h2>
            <ul class="feature-list">
                <li>Online Applications: All job applications must be submitted through our official website to ensure transparency and fairness.</li>
                <li>Interview Protocol: Before extending any job offer, candidates will undergo an interview with a designated HRSM Offshore Services LLP representative.</li>
                <li>Genuine Email Addresses: Communications from HRSM Offshore Services LLP will always originate from email addresses ending in "HRSMoffshoreservices.com."</li>
            </ul>
            <hr>
            <h2 class="section-title text-danger">What to Watch Out For:</h2>
            <ul class="feature-list">
                <li>Unsolicited Job Offers: HRSM Offshore Services LLP never initiates job offers or sends employment contracts without prior engagement.</li>
                <li>Requests for Payments: We do not demand any form of payment or access to financial information during the recruitment process.</li>
            </ul>
            <hr>
            <br>
            <br>
            <h2 class="section-title">Reach Out to Us:</h2>
            <p class="contact-info">Should you ever doubt the authenticity of any communication purportedly from HRSM Offshore Services LLP's Human Resources Department or our recruiting team, please don't hesitate to reach out to us for verification.</p>
            <p class="contact-info">Questions or Concerns? We're Here to Assist. Feel free to contact us at any time for clarification or assistance. Your security and peace of mind are our top priorities.</p>
        </div>
    
        <div class="col-lg-12">
            <app-contact-us></app-contact-us>
        </div>
    </div>
</div>
