<!-- Section Full -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center text-md-start">
                <h2 class="fw-bold">OFFSHORE AND ONSHORE CATERING & HOUSEKEEPING SERVICES</h2>
                <p class="lead">In the demanding environments of the Offshore and Onshore industries, HRSM Offshore Services LLP is dedicated to delivering exceptional catering and housekeeping services.</p>
                <p>We provide comprehensive solutions to meet the needs of your crew, ensuring they receive nutritious, delicious meals and impeccable housekeeping, even in the most challenging locations.</p>
                <p class="fw-bold">Our services include:</p>
                <div class="mt-3">
                    <div class="row p-3">
                        <div class="col-6">
                            <ul class="list-styled">
                                <li>Meal Preparation and Planning</li>
                                <li>Cleaning and Maintenance</li>      
                                <li>Food Safety and Hygiene</li>
                                <li>Housekeeping Services</li>
                                <li>Laundry Services</li>
                                <li>Sanitation and Waste Management</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-styled">
                                <li>Accommodation Management</li>
                                <li>Provisioning</li>
                                <li>Health and Safety Compliance</li>
                                <li>Emergency Catering Services</li>
                                <li>Customized Service Packages</li>
                            </ul>
                        </div>
                    </div>
                    <section class="contact-section m-1">
                        <div class="container">
                          <div class="row">
                            <div class="col text-center">
                              <h2>Contact Us</h2>
                              <p class="lead">Whether you're starting a new offshore venture or looking for reliable catering and housekeeping solutions for your current project, HRSM Offshore Services LLP is here to support you. Contact us today to learn more about our services and how we can help you achieve your goals.</p>
                              <a href="#" class="btn btn-primary btn-lg" routerLink="/contactus">Get in Touch</a>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../../../assets/industry-coponents/catering/catering.jpg" class="img-fluid" alt="catering HRSM">
            <img src="../../../assets/industry-coponents/catering/catering 2.png" class="img-fluid" alt="catering offers HRSM offshore">
        </div>
    </div>
</div>
<!-- Section Full -->

<app-industry></app-industry>
